In [170]:
import seaborn as sns 
import pandas as pd 

data = pd.read_csv("titanic_toy.csv")
data.head()

    Age     Fare  Family  Survived
0  22.0   7.2500       1         0
1  38.0  71.2833       1         1
2  26.0   7.9250       0         1
3  35.0  53.1000       1         1
4  35.0   8.0500       0         0